{% extends 'office/index.html' %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}

{% block search %}
{#    <div class="col-md-12">#}
{#    <form action="{% url 'research' %}" method="POST">#}
{#    {% csrf_token %}#}
{#        {% crispy form %}#}
{#    </form>#}
{#    </div>#}
{% endblock %}


{% block content %}
    {% render_table table %}
{% endblock %}

{% block export %}
    <div>
        <a href="{% export_url "xlsx" %}" class="btn btn-success">Export Table to Excel</a>
    </div>
{% endblock %}


